@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  body {
    /*background-color: #f3f4f6;*/
    @apply bg-stone-200 dark:bg-zinc-900;
  }

  .btn {
    @apply flex items-center justify-center bg-stone-200 dark:bg-white/10 backdrop-blur-lg border border-zinc-900 dark:border-white/30 text-zinc-900 dark:text-white transition hover:scale-120;
  }

  .btn-md {
    @apply p-2;
  }

  .btn-lg {
    @apply p-4;
  }

  .btn-circle {
    @apply rounded-full;
  }

  .btn-square {
    @apply rounded-md;
  }

  .btn-disabled {
    @apply cursor-not-allowed !shadow-none hover:shadow-none !scale-0;
  }

  .done {
    @apply line-through  text-zinc-700 dark:text-zinc-200;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
    width: 0;
  }

  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .ghost {
    @apply opacity-0;
  }

  .my-nested-class {
    @apply ml-5;
  }
}
